<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <a href="'/' + ${name} + '/moodTracker'">moodTracker</a>
    <img src="https://gifimage.net/wp-content/uploads/2017/10/database-gif-7.gif" alt="Database">
</body>
</html>
